<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="REPLACE_WITH_VENDOR_DIR/phpunit/phpunit/phpunit.xsd"
         bootstrap="REPLACE_WITH_VENDOR_DIR/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,random"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnAllIssues="true"
         displayDetailsOnAllIssues="true"
         enforceTimeLimit="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60">
    <testsuites>
        <testsuite name="unit">
            <directory>REPLACE_WITH_UNIT_TEST_PATH</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Toolkit\PhpUnit\TestReporter\AiTestReporterExtension"/>
    </extensions>
    <source restrictDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true"
            ignoreSuppressionOfDeprecations="true"
            ignoreSuppressionOfPhpDeprecations="true"
            ignoreSuppressionOfErrors="true"
            ignoreSuppressionOfNotices="true"
            ignoreSuppressionOfPhpNotices="true"
            ignoreSuppressionOfWarnings="true"
            ignoreSuppressionOfPhpWarnings="true">
        <include>
            <directory>REPLACE_WITH_PRODUCTION_PATH</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true"
              disableCodeCoverageIgnore="true"/>
</phpunit>
