parameters:
    errorFormat: aiRules

services:
    aiRules.support.agentDetector:
        class: PhpAiToolkit\Shared\AgentDetector

    errorFormatter.aiRules:
        class: PhpAiToolkit\PhpStan\ErrorFormatter\AiRulesErrorFormatter
        arguments:
            relativePathHelper: @simpleRelativePathHelper
            agentDetector: @aiRules.support.agentDetector
