services:
    aiRules.support.agentDetector:
        class: PhpStanAiRules\Support\AgentDetector

    errorFormatter.aiRules:
        class: PhpStanAiRules\ErrorFormatter\AiRulesErrorFormatter
        arguments:
            relativePathHelper: @simpleRelativePathHelper
            agentDetector: @aiRules.support.agentDetector
