<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile=".phpunit.result.cache"
         executionOrder="depends,random"
         verbose="true"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnEmptyTestSuite="true"
         failOnIncomplete="true"
         failOnRisky="true"
         failOnSkipped="true"
         failOnWarning="true"
         beStrictAboutTodoAnnotatedTests="true"
         enforceTimeLimit="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
            <exclude>tests/Unit/Doctest/DoctestExtensionTest.php</exclude>
            <exclude>tests/Unit/Doctest/DoctestSuiteTest.php</exclude>
            <exclude>tests/Unit/Doctest/Configuration/ConfigurationLoaderTest.php</exclude>
            <exclude>tests/Unit/PhpUnit/TestReporter/AiTestReporterExtensionTest.php</exclude>
            <exclude>tests/Unit/PhpUnit/TestReporter/EventTestIssueFactoryTest.php</exclude>
            <exclude>tests/Unit/PhpUnit/TestReporter/EventTestNameResolverTest.php</exclude>
            <exclude>tests/Unit/PhpUnit/TestReporter/Subscriber</exclude>
        </testsuite>
        <testsuite name="doctest">
            <directory>tests/Doctest</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Toolkit\PhpUnit\TestReporter\Legacy\LegacyAiTestReporterListener"/>
    </listeners>
    <coverage includeUncoveredFiles="true"
              disableCodeCoverageIgnore="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Compatibility/ClassAliases.php</file>
        </exclude>
    </coverage>
</phpunit>
