includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/k-kinzal/php-ai-toolkit/extension.neon
    - vendor/k-kinzal/php-ai-toolkit/error-formatter.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixture
