# NOTE: You do not have permission to overwrite this file. Please ask a human operator to perform the changes for you.

includes:
    - REPLACE_WITH_VENDOR_DIR/phpstan/phpstan-strict-rules/rules.neon
    - REPLACE_WITH_VENDOR_DIR/k-kinzal/php-ai-toolkit/extension.neon
    - REPLACE_WITH_VENDOR_DIR/k-kinzal/php-ai-toolkit/rules.neon

parameters:
    level: max
