includes:
    - REPLACE_WITH_VENDOR_DIR/phpstan/phpstan-strict-rules/rules.neon
    - REPLACE_WITH_VENDOR_DIR/k-kinzal/php-ai-toolkit/extension.neon
    - REPLACE_WITH_VENDOR_DIR/k-kinzal/php-ai-toolkit/rules.neon

parameters:
    level: max
