<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../../vendor/autoload.php"
         colors="false"
         cacheResult="false"
         failOnEmptyTestSuite="true"
         failOnRisky="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="test-reporter-fixture">
            <file>FailingTest.php</file>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="PhpAiToolkit\PhpUnit\TestReporter\AiTestReporterExtension"/>
    </extensions>
</phpunit>
